html {
  height: 100%;
  width: 100%;
  background-image: url("images/r88.jpg");
  background-size: cover;
}

.button{
  font-size: 40px; 
  background-color: white; 
  color: red; 
  border-color: white;
}